 <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css">

 
<script src="https://kit.fontawesome.com/84e3d0df5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/style1.css" type="text/css">
    

  <!-- Js Plugins -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.slicknav.js"></script>
    <script src="/javascripts/mixitup.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/main.js"></script>



  <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg">
                            <h5><a href="#">Fresh Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg">
                            <h5><a href="#">Dried Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg">
                            <h5><a href="#">Vegetables</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg">
                            <h5><a href="#">drink fruits</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg">
                            <h5><a href="#">drink fruits</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

  <section class="container">
     <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" id="blog12" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Products</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Products</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #blog12{
               background-image: url("/image/breadcrumb.jpg");
        }
    </style>
    <center>
    <div class="container mt-5" id="we" >
      <div class="row">
        {{#each products}}
        <div class="col-md-3">
          <div class="card " style="width: 15rem; height: 25rem;">
            <img
              src="/product-images/{{this._id}}.jpg" alt="image"
              class="card-img-top" alt="camera" style="height:16rem; width:15rem">
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text text-muted mx-5 d-none">{{this.Description}}</p>
               <h6 class="card-title">Rs:{{this.Price}}/kg</h6>
              <button class="btn btn-success" onclick="addtocart('{{this._id}}')">Add to Cart</button>
            </div>
          </div>
          <br>
          <br>
        </div>
        {{/each}}
      </div>
    </div>
    </center>
  </section>
 
    



     <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/image/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/image/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/image/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Latest Product Section End -->
       <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a class="navbar-brand"id="main3heading" href="/home">VEGANT</a>
                        </div>
                        <ul>
                            <li>Address:VEGANT TOWER COCHIN </li>
                            <li>Phone: +97655765567</li>
                            <li>alan@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/aboutus">About Us</a></li>
                            <li><a href="/aboutus">About Our Shop</a></li>
                            <li><a href="/aboutus">Secure Shopping</a></li>
                            <li><a href="/aboutus">Delivery infomation</a></li>
                            <li><a href="/aboutus">Privacy Policy</a></li>
                            <li><a href="/aboutus">Our Sitemap</a></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div> --}}
        </div>
    </footer>
    <!-- Footer Section End -->