<section class="container">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" id="blog12" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #blog12{
               background-image: url("/image/breadcrumb.jpg");
        }
    </style>
<section class="shoping-cart spad">
  <div class="container">
    <div class="shoping__cart__table">
    <table class="table " id="table1">
      <thead>
        <tr>
          <th scope="col"  class="shoping__product" >Item</th>
          <th scope="col">Title</th>
          <th scope="col">Price(Rs)</th>
          <th scope="col">Quantity</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      {{#each product}}
      <tbody>
        <tr>
     
          <td ><img
                  src="/product-images/{{this.product._id}}.jpg"
                  style="height: 50px;width: 50px";
                  class="img-fluid rounded-3" alt="Cotton T-shirt"></td>
                  <td >{{this.product.Name}}</td>
                  <td class="shoping__cart__price">{{this.product.Price}}</td>
                  <td class="shoping__cart__quantity" ><button class="btn btn-primary cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                  <span id="{{this.product._id}}">{{this.quantity}}</span>
                  <button class="btn btn-primary cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button></td>
                  
                  <td>
                    <button onclick="removeitem('{{this._id}}','{{this.product._id}}')" class="btn btn-danger">Remove</button>
                  </td>
        </tr>
      </tbody>
      {{/each}}
    </table>
    <hr>
    <h3 class="float-right mr-5 shoping__cart__total">TOTAL:<span class="breadcrumb__text">{{Totalvalue}}</span></h3>
   <br><br> <a href="/place-order" class="btn btn-success mr-5 float-right">Place order</a>
    </hr>
  </div>
  </div>
</section>
</section>
<script>
function changeQuantity(cartId,productid,userid,count)
{
  let quantity=parseInt(document.getElementById(productid).innerHTML)
  count=parseInt(count)
$.ajax(
  {
    url:'/change-product-quantity',
    data:{
      userid:userid,
      cart:cartId,
      product:productid,
      count:count,
      quantity:quantity
    },
    method:'post',
    success:(response)=>{
      if(response.removeProduct)
      {
        alert("Product removed from cart")
        location.reload()
      }
      {
        document.getElementById(productid).innerHTML=quantity+count;
        document.getElementById('total').innerHTML=response.total;
      }
    }
  }
)

}


</script>
<script>
  $(document).ready( function () {
    $('#table1').DataTable();
} );
</script>
<script>
function removeitem(cartid,productid)
{
    $.ajax(
  {
    url:'/removeproduct',
    data:{
     
      cart:cartid,
      product:productid
    },
     method:'post',
    success:(response)=>{
      if(response.removeProduct)
      {
        alert("Product removed from cart")
        location.reload()
      }
      
    }  

  })
}
</script>