<section>
    <div class="container">
       <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" id="blog12" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Orders</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #blog12{
               background-image: url("/image/breadcrumb.jpg");
        }
    </style>
       <table class="table mt-5">
  <thead>
    <tr>
      
      <th scope="col">DATE</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">PINCODE</th>
      <th scope="col">MOBILE</th>
      <th scope="col">AMOUNT</th>
       <th scope="col">PAYEMENT METHOD</th>
      <th scope="col">ORDER STATUS</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each orders}}
   <tr>
      {{!-- <th scope="col"></th> --}}
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.totalamount}}</td>
      <td>{{this.payment}}</td>
      <td>{{this.status}}</td>
      {{!-- <td><a class="btn btn-primary" href="/view-order-product/{{this._id}}">VIEW PRODUCT</a></td> --}}
    </tr>
    {{/each}}
  </tbody>
 </table>
</div>

</section>